.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{display:table;clear:both}
.flash {color:#FF2B06;}
.hubbubblue {background-color:#92C4BE;}
.hubbubtan {background-color:#E2DDD2;}
.hubbubred {color: #8F3049;}
