<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>action.default</param-name>
        <param-value>guest</param-value>
    </context-param>
    <context-param>
        <param-name>view.dir</param-name>
        <param-value>/WEB-INF/views</param-value>
    </context-param>
    <context-param>
        <param-name>view.type</param-name>
        <param-value>.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>redirect.tag</param-name>
        <param-value>redirect:</param-value>
    </context-param>
    <context-param>
        <param-name>page.size</param-name>
        <param-value>3</param-value>
    </context-param>
    <context-param>
        <param-name>db.brand</param-name>
        <param-value>derby</param-value>
    </context-param>
    <context-param>
        <param-name>db.host</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>db.database</param-name>
        <param-value>hubbub</param-value>
    </context-param>
    <context-param>
        <param-name>db.user</param-name>
        <param-value>javauser</param-value>
    </context-param>
    <context-param>
        <param-name>db.pass</param-name>
        <param-value>javauser</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>edu.acc.jee.hubbub.StartupListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>edu.acc.jee.hubbub.FrontController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>main</welcome-file>
    </welcome-file-list>
</web-app>
